#content {
    display: flex;
    border: dotted;
    height: 94vh;
    width: 98vw;
}


#heading {
    display: flex;
    border: dotted;
    height: 10vh;
    width: 98vw;
    justify-content: center;
}
#main {
    display: flex;
    border: dotted;

}

.dropdown {
    position: absolute; /* Change this line */
    display: flex;
    width: 100px;
    right: 25px;
    top: 48px;

}

.dropbtn {
    width: 100px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: translate(-38%, 32%);
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
